@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

body::-webkit-scrollbar {
  width: 0.5em;
}

body::-webkit-scrollbar-thumb {
  background-color: #718096;
  border-radius: 0.25em;
}

/* Optionally, you can style the scrollbar track */
body::-webkit-scrollbar-track {
  background-color: #a0aec0;
}

.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #718096 #718096;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 12px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #718096;
  border-radius: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background-color: #718096;
}

@layer components {
  .custom-border {
    border: 2px solid #e53e3e; /* Replace with your desired border color */
  }

  .div-container{
    @apply w-full bg-slate-200 mx-auto mt-1 p-1 rounded-md shadow-md
  }
  .form-tab-css{
    @apply flex flex-wrap pl-2 space-y-2;

    
  } 
  .div-label-field{
    @apply  my-1 mx-8 flex   justify-between w-full md:w-1/2 lg:w-1/3 xl:w-1/4
  }
  .label-css{
    @apply inline-block w-[400px]   text-[20px] m-0 font-semibold text-gray-600
  }

  .input-tag-css{
    @apply w-full p-0 h-[28px] text-[16px] border focus:outline-none focus:border-blue-500
  }
  .button{
    @apply    m-1  float-right  px-1 rounded-md bg-yellow-400 h-[40px] hover:bg-slate-100 focus:outline-none focus:ring focus:border-blue-300

  }
  .buttonAdd{
    @apply    float-right  px-1 rounded-md bg-violet-500 h-[40px] hover:bg-slate-400 hover:text-white focus:outline-none focus:ring focus:border-blue-300
  }
  .define-container{
    @apply  pl-3 pr-2
  }
  .select{
    @apply bg-gray-100 p-2 rounded-md
  }
  .control-bar{
    @apply bg-gray-500  px-4 flex justify-between h-16 
  }
  .page-name{
    @apply text-3xl md:text-xl sm:text-xs xl:text-3xl mx-2 pt-2 text-white font-bold
  }
  .page-tcode{
    @apply text-2xl md:text-xl  xl:text-3xl sm:text-base mx-2 pt-2 text-black font-bold
  }
  .option{
    @apply bg-gray-100 p-2 rounded-md
  }
  .button-container{
    @apply flex flex-col sm:flex-row pt-2
  }
  .label{
    @apply bg-gray-100 p-2 mx-2 rounded-md
  }
  .assign-searchbar{
    @apply flex   justify-evenly p-2 bg-indigo-100
  }
}
.loader-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999; /* Ensure the loader is on top of other elements */
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.8); /* Adjust the alpha value for the desired level of blur */
  filter: blur(5px); /* Adjust the blur amount as needed */
  z-index: -1; /* Place the backdrop behind other elements */
}
